@{
    ViewBag.Title = "Hakkımızda";
}

<br />
<!--
<div class="row bgded overlay" style="background-image:url('@Url.Content("~/Content/images/about.png")');">
    <div id="pageintro" class="hoc clear"></div>
</div> -->

<br />
<div class="row wrapper row3">
    <article class="hoc container clear">
        <div class="one_half first">
            <img class="inspace-10 borderedbox" src="@Url.Content("~/Content/images/meeting.png")" alt="">
        </div>
        <div class="one_half">
            <h3 class="heading">Vmeet Nedir?</h3>
            <p>
                Vmeet (Virtual MEETing) bir sanal toplantı platformudur.
                <br />Sanal toplantı, toplantıya katılacak kişilerin bulundukları yerden ayrılmalarına gerek olmadan, internet üzerinde biraraya gelebilmesine ve bir toplantı sırasında yapılabilecek her şeyi, daha verimli ve daha kolay yapabilmesine olanak sağlayan toplantılardır.
                <br /><br /> Vmeet'i toplantılarınız, eğitimleriniz, seminerleriniz için kullanabilirsiniz. Görüntü, ses, döküman ve belge paylaşımı yapabilir ve bunları kayıt edebilirsiniz. Zaman kaybının önüne geçersiniz ve hem kurumsal hem de kişisel olarak verimliliğiniz artar. Daha kısa sürede daha çok insana ulaşarak, daha çok iş bitirebilirsiniz.
                <br /><br /> Vmeet ile toplantılarınızı sanal ortamda ve yüksek performansla gerçekleştirirken, sahip olacağınız fazla zamanı sevdiklerinizle paylaşabilirsiniz.
            </p>
            <br /><br />
        </div>
    </article>
</div>

<br />
<div class="row wrapper row3">
    <article class="hoc container clear">
        <div class="one_half first">
            <img class="inspace-10 borderedbox" src="@Url.Content("~/Content/images/1A4K.jpeg")" alt="">
        </div>
        <div class="one_half">
            <h3 class="heading">Biz Kimiz?</h3>
            <p>
                Biz, Sakarya Üniversitesi'nde Bilgisayar Mühendisliği okuyan öğrencileriz. Yazılım mühendisliği dersi projemiz için sanal toplantı platformu olan Vmeet'i gerçeklemeye çalıştık.
                <br /><br />1A4K grubu olarak, Vmeet'i, siz kullanıcılarımızın kullanımına sunmaktan onur duyarız.
            </p>
            <br /><br />
            <strong>Bizimle iletişime geçin:</strong>   <a href="mailto:1a4k@example.com">1a4k@example.com</a><br />
        </div>
    </article>
</div>

