@{
    ViewBag.Title = "Ana Sayfa";
}

<!-- Top Background Image Wrapper -->
<div class="row bgded" style="background-image:url('@Url.Content("~/Content/images/Vmeet_cover.png")');">
    <div id="pageintro" class="hoc clear">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <br /><br /><br />
                        <br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <br /><br /><br />
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Top Background Image Wrapper -->

<br />
<br />
<br />

<!-- ################################################################################################ -->
<div class="row wrapper row3">
    <article class="hoc container clear">
        <div class="one_half first"><img class="inspace-10 borderedbox" src="@Url.Content("~/Content/images/asd.jpeg")" alt=""></div>
        <div class="one_half">
            <h3 class="heading">Vmeet nasıl kullanılır?</h3>
			 <p>
                Vmeet (Virtual MEETing) bir sanal toplantı platformudur.
                <br />Sanal toplantı, toplantıya katılacak kişilerin bulundukları yerden ayrılmalarına gerek olmadan, internet üzerinde biraraya gelebilmesine ve bir toplantı sırasında yapılabilecek her şeyi, daha verimli ve daha kolay yapabilmesine olanak sağlayan toplantılardır.
                <br /><br /> Vmeet'i toplantılarınız, eğitimleriniz, seminerleriniz için kullanabilirsiniz. Görüntü, ses, döküman ve belge paylaşımı yapabilir ve bunları kayıt edebilirsiniz. Zaman kaybının önüne geçersiniz ve hem kurumsal hem de kişisel olarak verimliliğiniz artar. Daha kısa sürede daha çok insana ulaşarak, daha çok iş bitirebilirsiniz.
                <br /><br /> Vmeet ile toplantılarınızı sanal ortamda ve yüksek performansla gerçekleştirirken, sahip olacağınız fazla zamanı sevdiklerinizle paylaşabilirsiniz.
            </p>
        </div>
    </article>
</div>
<!-- ################################################################################################ -->
<!--
<div class="row wrapper bgded overlay" style="background-image:url('@Url.Content("~/Content/images/asd.jpeg")');">
    <article class="hoc container center">

        <i class="block btmspace-50 fa fa-4x fa-street-view"></i>
        <h6>Massa et tellus placerat et</h6>
        <p class="btmspace-50">Condimentum ex dictum fusce commodo nisi sed sagittis dignissim vivamus diam</p>
        <footer><a class="btn inverse" href="#">Convallis pharetra</a></footer>
    </article>
</div>
    -->
