@{
    ViewBag.Title = "Home Page";
}

<!-- Top Background Image Wrapper -->
<div class="row bgded overlay" style="background-image:url('@Url.Content("~/Content/images/background.jpeg")');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <p>Habitasse</p>
                        <h3 class="heading">Aenean viverra arcu</h3>
                        <p>Mi vitae condimentum sapien phasellus</p>
                        <footer><a class="btn" href="#">Accumsan elementum</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Suscipit</p>
                        <h3 class="heading">Maecenas felis risus</h3>
                        <p>Feugiat eu libero rhoncus laoreet congue</p>
                        <footer><a class="btn inverse" href="#">Ante aenean</a></footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Dictumst</p>
                        <h3 class="heading">Amet sodales odio</h3>
                        <p>In hac platea fusce eu rutrum nisi amet</p>
                        <footer><a class="btn" href="#">Turpis in diam</a></footer>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="row wrapper bgded overlay" style="background-image:url('@Url.Content("~/Content/images/demo/02.png")');">
    <article class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="three_quarter first">
            <h6 class="nospace">Curabitur ornare imperdiet</h6>
            <p class="nospace">Nibh eu sagittis etiam ut euismod ligula laoreet lacus nunc quis tortor tempor</p>
        </div>
        <footer class="one_quarter"><a class="btn" href="#">More Information &raquo;</a></footer>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="row wrapper row3">
    <article class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="one_half first"><img class="inspace-10 borderedbox" src="@Url.Content("~/Content/images/demo/480x400.png")" alt=""></div>
        <div class="one_half">
            <p class="nospace font-xs">Lectus rutrum placerat nec</p>
            <h3 class="heading">Venenatis erat nunc lorem</h3>
            <p>Sed pharetra non sollicitudin nec libero curabitur dapibus ex non viverra scelerisque arcu nisl dignissim enim in lacinia dolor libero id urna duis sodales dignissim enim.</p>
            <blockquote>Interdum integer vestibulum venenatis justo id vulputate mi curabitur ac odio sed diam ullamcorper pulvinar proin tristique odio non suscipit venenatis magna enim convallis arcu vitae blandit turpis</blockquote>
            <p>Arcu sit amet quam vestibulum sit amet ullamcorper dolor aenean fermentum ullamcorper tincidunt phasellus.</p>
            <footer><a href="#">Read More &raquo;</a></footer>
        </div>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="row wrapper bgded overlay" style="background-image:url('@Url.Content("~/Content/images/demo/03.png")');">
    <article class="hoc container center">
        <!-- ################################################################################################ -->
        <i class="block btmspace-50 fa fa-4x fa-street-view"></i>
        <h6>Massa et tellus placerat et</h6>
        <p class="btmspace-50">Condimentum ex dictum fusce commodo nisi sed sagittis dignissim vivamus diam</p>
        <footer><a class="btn inverse" href="#">Convallis pharetra</a></footer>
        <!-- ################################################################################################ -->
    </article>
</div>
