@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="bgded overlay" style="background-image:url('@Url.Content("~/Content/images/arkaplan.jpeg")');">
        <div id="pageintro" class="hoc clear">
            <div class="flexslider basicslider">
                <ul class="slides">
                    <li>
                        <article>
                            <p>Habitasse</p>
                            <h3 class="heading">Aenean viverra arcu</h3>
                            <p>Mi vitae condimentum sapien phasellus</p>
                            <footer><a class="btn" href="#">Accumsan elementum</a></footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <p>Suscipit</p>
                            <h3 class="heading">Maecenas felis risus</h3>
                            <p>Feugiat eu libero rhoncus laoreet congue</p>
                            <footer><a class="btn inverse" href="#">Ante aenean</a></footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <p>Dictumst</p>
                            <h3 class="heading">Amet sodales odio</h3>
                            <p>In hac platea fusce eu rutrum nisi amet</p>
                            <footer><a class="btn" href="#">Turpis in diam</a></footer>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
  
        <main class="hoc container clear">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 renk">
                        <div class="intro">
                            <div class="presmi"><img src="~/Content/images/deneme.png" /> </div>
                            <h2><b>Michel SMith</b></h2>
                            <h4 class="font-yellow">Key Account Manager</h4>
                            <ul class="information margin-tb-30">
                                <li><b>BORN : </b>August 25, 1987</li>
                                <li><b>EMAIL : </b>mymith@mywebpage.com</li>
                                <li><b>MARITAL STATUS : </b>Married</li>
                            </ul>
                          
                        </div><!-- intro -->
                    </div><!-- col-sm-8 -->
                </div><!-- row -->
            </div><!-- container -->
          
            <div class="clear"></div>
        </main>
    </div>
  
    <div class="wrapper row3 ">
        <article class="hoc container clear">
           
        </article>
    </div>
 
</div>