@{
    ViewBag.Title = "Home Page";
}

<div class="row renk">
    <div class="bgded overlay renk" style="width: 1120px; ">
        <div id="pageintro" style="background-image:url('/Content/images/Adsız.jpg');height: 502px;width: 1121px;">
          <div class="flexslider basicslider">
        <ul class="slides">
            <li>
                <article>
                    <h6><i> TOPLANTILARINIZI DAHA RAHAT YAPABİLMEK İÇİN KAYIT OL BUTONUNA TIKLAYINIZ</i></h6>
                    <footer><a class="btn" href="#">KAYIT OL</a></footer>
                </article>
            </li>
            <li>
                <article>
                    <p>Suscipit</p>
                    <h3 class="heading">Maecenas felis risus</h3>
                    <p>Feugiat eu libero rhoncus laoreet congue</p>
                    <footer><a class="btn inverse" href="#">Ante aenean</a></footer>
                </article>
            </li>
            <li>
                <article>
                    <p>Dictumst</p>
                    <h3 class="heading">Amet sodales odio</h3>
                    <p>In hac platea fusce eu rutrum nisi amet</p>
                    <footer><a class="btn" href="#">Turpis in diam</a></footer>
                </article>
            </li>
        </ul>
    </div>
</div>
  
            <div class="container">
                <div class="row renk bilgikismi">

                    <div class="col-lg-6">
                        <div class="img-thumbnailyeni">
                            <div class="intro">
                                <h2><b>BASLIK</b></h2>
                                
                                <p> haber içeriği </p>

                            </div><!-- intro -->
                        </div><!-- col-sm-8 -->
                    </div>
                    <div class="col-lg-6">
                        <div class="img-thumbnailyeni">
                            <div class="intro">
                                <h2><b>BASLIK</b></h2>

                                <p> haber içeriği </p>

                            </div><!-- intro -->
                        </div><!-- col-sm-8 -->
                    </div>
                </div><!-- row -->
            </div><!-- container -->
    </div>
</div>